
.principal {
    display: inline-block;
    width: 15%;
    /*background-color: red;*/
}

.principal img {
    border-radius: 50%;
    margin: 20px;
}

.aside {
    display: inline-block;
    width: 85%;
    /*background-color: blue;*/
    padding-left: 30px;
}
