<div class="about-me">

  <div class="card mb-3">
    <div class="row g-0">
      <div class="card-image col-md-2">
        <img src="https://i.imgur.com/Rcd706T.jpg" class="img-fluid rounded-start" alt="foto de perfil" width="180">
      </div>
      <div class="card-description col-md-10">
        <div class="card-body">
          <h5 class="card-title">Manuel Orozco</h5>
          <h6 class="card-subtitle pb-3">Programador</h6>
          <p class="card-text"> Descripcion personal de la persona a la que le pertenece el sitio web. Esta descripcion
            contiene informacion personal y de contacto.</p>
          <p class="card-text">
            <a><i class="fa-brands fa-linkedin fa-2x"></i></a>
            <a><i class="fa-brands fa-github fa-2x"></i></a>
            <a><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a><i class="fa-brands fa-twitter fa-2x"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--<section class="principal">
      <img src="https://i.imgur.com/Q72uYaN.png" alt="foto" width="150">
    </section>
    <section class="aside">
      <h1>Manuel Orozco</h1>
      <p>Descripcion del propietario de la pagina web.</p>-->
  <!--
      <a><i class="fa-brands fa-linkedin"></i></a>
      <a><i class="fa-brands fa-github"></i></a>
      <a><i class="fa-brands fa-facebook"></i></a>
      <a><i class="fa-brands fa-twitter"></i></a>
      -->
  <!--</section>-->

</div>