<div class="about-me">
    <section class="principal">
      <img src="https://i.imgur.com/Q72uYaN.png" alt="foto" width="150">
    </section>
    <section class="aside">
      <h1>Manuel Orozco</h1>
      <p>Descripcion del propietario de la pagina web.</p>
      <!--
      <a><i class="fa-brands fa-linkedin"></i></a>
      <a><i class="fa-brands fa-github"></i></a>
      <a><i class="fa-brands fa-facebook"></i></a>
      <a><i class="fa-brands fa-twitter"></i></a>
      -->
    </section>
  </div>
