nav {
    background-color: rgb(65, 132, 177);
}

.nav-item {
    margin-left: 15px;
}

.nav-item a {
    font-weight: bold;
    color: #fff;
}

.principal {
    display: inline-block;
    width: 15%;
    /*background-color: red;*/
}

.principal img {
    border-radius: 50%;
    margin: 20px;
}

.aside {
    display: inline-block;
    width: 85%;
    /*background-color: blue;*/
    padding-left: 30px;
}